@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container{
  background:linear-gradient(135deg, #81AEF9, #CCF2FF);
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 140px;
  justify-content: center;
}
.weather{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  background: linear-gradient(135deg, #2e91d7, #1039DD);
  border-radius: 20px;
  border: 0;
  outline: 0;
}
.search-bar{
  display: flex;
  margin-top: 10px;
}
.search-bar input{
  margin-top: 25px;
  margin-left: 30px;
  width: 230px;
  height: 35px;
  padding:20px;
  border-radius: 25px;
  border: 0;
  outline: 0;
}
.search-bar img{
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  margin-top: 25px;
  margin-left: 15px;
}
.cen{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cen img{
  width: 150px;
  margin-top: 10px;
}
.details{
  display: flex;
  justify-content: space-between;
  margin: auto 40px;
}
.humidity,.wind{
  display: flex;
  height: 30px;
}
.wind h1,.humidity h1{
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}
.humidity img{
  width: 30px;
}
.w h2, .h h2{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
.cen h1{
  font-size: 50px;
  font-weight: 600;
}
.cen h2{
  font-size: 30px;
  font-weight: 400;
}